<div>
  <app-toolbar>
    <label>Search</label><input type="text" [(ngModel)]="searchString"
                                (keyup)="searchStringChanged($event)"/>
  </app-toolbar>
  <table>
    <thead>
    <tr>
      <th>Project</th>
      <th>Labels</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of (filteredProjects$ | async)">
      <td>
        <app-project-item [project]="project" [showTechnologies]="true"/>
      </td>
      <td>
        <div class="labels">
          <app-project-label
            *ngFor="let label of filteredLabels(project.metaData.labels)"
            [label]="label" [highlight]="searchRegExp"/>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
