<div>
  <div class="search-box">
    Search <input type="text" [(ngModel)]="searchString" (keyup)="searchStringChanged($event)"/>
  </div>
  <table>
    <thead>
    <tr>
      <th>Project</th>
      <th>Labels</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of (filteredProjects$ | async)">
      <td>
        <div class="project">
          <div class="project-name">{{ project.metaData.name }}</div>
          <div class="framework-icons">
            <img *ngFor="let framework of getFrameworks(project)"
                 class="framework-icon"
                 [src]="'assets/icons/framework/' + framework + '.svg'"/>
          </div>
        </div>
      </td>
      <td class="labels">
        <app-project-label
          *ngFor="let label of filteredLabels(project.metaData.labels)"
          [label]="label" [highlight]="searchRegExp"/>
      </td>
    </tr>
    </tbody>
  </table>
</div>
