.labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 8px;
}

.framework-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4px;

  .framework-icon {
    width: 24px;
    height: 24px;
  }
}

input[type=text] {
  font-size: 20px;
}

td, th {
  padding: 12px;
}


tbody td:nth-child(1) {
  vertical-align: top;
}
