@import "../../global";

.labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 12px;
}


input[type=text] {
  font-size: 20px;
}

td, th {
  padding: 12px;
}

th {
  font-size: 20px;
  color: $tertiary-color
}

tbody td:nth-child(1) {
  vertical-align: top;
}

.project {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  .project-name {
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
  }

  .framework-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4px;

    .framework-icon {
      width: 24px;
      height: 24px;
    }
  }
}


