target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.projects/
/.credentials/
/project-maintainer-core/src/main/resources/application-private.yml
/project-maintainer-angular-ui/src/assets/icons/AWS_CODECOMMIT.png
/project-maintainer-angular-ui/src/assets/icons/GITHUB.png
/.idea/sonarlint/
project-maintainer-core/frontend/
project-maintainer-ui/frontend/
/**/application-local.yml
/project-maintainer-ui/node_modules/
/project-maintainer-ui/package.json
/project-maintainer-ui/package-lock.json
/project-maintainer-ui/tsconfig.json
/project-maintainer-ui/types.d.ts
/project-maintainer-ui/vite.config.ts
/project-maintainer-ui/vite.generated.ts
