<div [class]="{notCloned: !cloned }">
  <div class="main-row">
    <img class="provider-icon" [src]="'assets/icons/' + project.git.provider + '.png'"/>
    <span class="project-name">{{ readableName }}</span>
  </div>
  <div *ngFor="let textLine of textLines" class="text-row">
    {{ textLine }}
  </div>
  <div *ngIf="showTechnologies" class="technology-icons">
    <img *ngFor="let technology of technologies"
         class="technology-icon"
         [src]="'assets/icons/framework/' + technology + '.svg'"/>
  </div>
</div>
