.project-overview-list-item {
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 300px;
  position: relative;
  cursor: pointer;

  &.selected {
    border: dashed #606060 2px;
    padding: 10px;
  }

  input[type=checkbox] {
    position: absolute;
    background-color: none;
    right: 0;
    top: 0;
    height: 20px;
    width: 20px;
  }


  &:hover {
    background-color: #404040;
  }

  .main-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
  }

  .text-row {
    color: #ffffffb3;
    overflow: hidden;
    text-overflow: eπllipsis;
    white-space: nowrap;
  }

  .provider-icon {
    width: 36px;
  }

  &.notCloned {
    .provider-icon {
      filter: blur(2px) grayscale(0.75);
    }
  }

  .project-name {
    font-size: 22px;
  }

}
