.project-overview-list-item {
  margin: 2px;

  &.selected {
    margin: 0px;
    border: dashed #606060 2px;
  }

  &:hover {
    background-color: #404040;
  }

  &.notCloned {
    .provider-icon {
      filter: blur(2px) grayscale(0.75);
    }
  }

}
