@import "../../global";

:host > div {
  margin: 2px;

  &.selected {
    margin: 0px;
    border: dashed darken($tertiary-color, 10%) 2px;
  }

  &:hover {
    background-color: lighten(black, 10%);
  }

  &.notCloned {
    .provider-icon {
      filter: blur(2px) grayscale(0.75);
    }
  }

}
