@import "global";

html, body {
  height: 100%;
  color: $primary-color;
}

body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;;
}

body {
  min-height: 100vh;
  background-color: $primary-background-color;
}

.highlighted {
  font-weight: bold;
  color: white;
}
