<main class="main mat-app-background">
  <mat-list>
    <mat-list-item
      *ngFor="let project of projects" class="project">
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>{{ project.name }}
        <!--<a href="{{project.git.uri}}">
                  <img [src]="'assets/icons/' + project.git.provider + '.png'"/>
        </a>-->
      </div>
      <div *ngIf="project.commit"
           matListItemLine>{{ project.commit }}</div>
    </mat-list-item>
  </mat-list>

</main>

<router-outlet></router-outlet>
