@import "../global";

.navigation-bar {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 12px;

  a {
    text-decoration: none;
    color: white;
    padding: 12px;

    &:hover {
      background-color: lighten(black, 10%);
    }
  }

  a + a::before {
    content: " ";
    margin-right: 24px;
    border-left: darken($tertiary-color, 10%) solid 2px;
  }
}

.not-connected {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  p {
    font-size: 40px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
}


