:root {
  --d2h-moved-label-color: #90bdf9;
  --d2h-dark-bg-color: #223349;
  --d2h-dark-file-header-bg-color: #2b3e53;
  --d2h-dark-ins-bg-color: rgba(46, 160, 67, .85);
  --d2h-dark-del-bg-color: rgba(248, 81, 73, .85);
  --d2h-dark-dim-color: white;
}