.toolbar {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  padding: 24px;

  button {
    min-width: 64px;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 4px;

    background-color: black;
    color: white;
    border: gray solid 2px;

    &:active {
      background-color: #404040;
      border-color: #303030;
    }
  }
}
