<div>
  <app-toolbar>
    <button mat-raised-button (click)="onPullButtonClick()">Pull</button>
    <button mat-raised-button (click)="onCloneButtonClick()">Clone</button>
    <button mat-raised-button (click)="onWipeButtonClick()">Wipe</button>
    <button mat-raised-button (click)="onAnalyseButtonClick()">Analyse</button>
  </app-toolbar>
  <app-project-overview-list [projects]="projects"
                             (onSelectionChanged)="onSelectionChanged($event)">

  </app-project-overview-list>
</div>
