@import "../../global";

.toolbar {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  padding: 12px;

  border-top: solid 2px lighten(black, 20%);
  border-bottom: solid 2px lighten(black, 20%);
}

:host ::ng-deep {
  button {
    min-width: 80px;
    font-size: 20px;
    padding: 12px 12px;
    border-radius: 4px;

    &:first-child {
      margin-left: 12px;
    }

    background-color: black;
    color: white;
    border: darken($tertiary-color, 10%) solid 2px;

    &:hover {
      background-color: lighten(black, 10%);
      border-color: $tertiary-color;
    }

    &:active {
      background-color: lighten(black, 20%);
      border-color: lighten($tertiary-color, 10%);
    }
  }

  input[type=text] {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 12px;
    border: darken($tertiary-color, 10%) solid 2px;
  }

  label {
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    color: $tertiary-color;
  }
}
