@import "../../global";

:host > div {
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  position: relative;
  cursor: pointer;

  .main-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
  }

  .text-row {
    color: $secondary-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .provider-icon {
    width: 36px;
  }

  .project-name {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &.notCloned {
    .provider-icon {
      filter: blur(2px) grayscale(0.75);
    }
  }

}
